<h1><%= title %></h1>
<div id="nav">
	<a href="/home">Home</a> | <a id="archive" href="/home/archive">Link Archive</a> | <a id="account_link" href="/account">Account</a> | <a href="/logout">Logout</a>
</div>
<%- partial('notification', notifications) %>
<div id="account">
	<h4>Edit your account information:</h4>
	<form action="/account" method="post">
		<input type="hidden" name="_method" value="put" >
	
		<p><label>First Name:&nbsp;<input type="text" name="first" placeholder="Jon" required="required" value="<%- user.first %>"></label></p>
		<p><label>Last Name:&nbsp;<input type="text" name="last" placeholder="Smith" required="required" value="<%- user.last %>"></label></p>
		<p><label>Email:&nbsp;&nbsp;<input type="email" name="email" placeholder="you@gmail.com" required="required" value="<%- user.email %>"></label></p>
		
		<p>Only enter a password if you wish change your current one.</p>
		<p><label>New password:&nbsp;<input type="password" name="password" ></label></p>
		<p><label>Confirm Password:&nbsp;<input type="password" name="confirm" ></label></p>
		
		<p><input type="submit" value="Save"></p>
	</form>
</div>