<div class="row" id="<%= link.id %>">
	<span class="span3"><%= link.niceTime %></span> <span class="span8">
		<a class="linkr_link" href="/link/<%= link.id %>" target="_blank">
			<% if (link.title) { %>
				<%= link.title %>
			<% } else { %>
				<%= link.link %>
			<% } %>
		</a>
	</span>
	<span class="pull-right sortable_handle ui-icon ui-icon-arrowthick-2-n-s"></span>
</div>